.advantages__title {
  margin-bottom: 35px;
}

.advantages__list {
  margin: 0;
  padding-left: 0;
  padding-bottom: 30px;
}

.advantages__item {
  margin-bottom: 30px;
  padding: 35px 0 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: bold;

  line-height: 1.2;

  color: $black;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item--style,
.advantages__item--love {
  padding-right: 45px;
}

.advantages__item--ecology {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}

.advantages__item--style {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
}

.advantages__item--like {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
}

.advantages__item--love {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
}

.advantages__item--support {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
}

.advantages__item--gift {
  padding-right: 25px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .advantages__list-wrap {
    margin-top: 55px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__list {
    flex-basis: 50%;
  }

  .advantages__item {
    min-height: 125px;
    padding-right: 43px;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: 1150px) {
  .advantages__wrapper {
    padding: 40px 175px 0;
  }
}
