.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav__list {
  min-width: 320px;
  margin: 0;
  padding-left: 0;

  /*display: none;*/
}

.main-nav__logo {
  padding: 17px 115px;
}

.main-nav__logo[href]:hover,
.main-nav__logo[href]:focus {
  opacity: 0.6;
}

.main-nav__logo[href]:active {
  opacity: 0.3;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 3;

  display: block;
  width: 20px;
  height: 15px;

  background-color: transparent;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../img/icon-menu-open.svg");
}

.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../img/icon-menu-close.svg");
}

.main-nav__service {
  display: none;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .user-list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    flex-direction: row;
  }

  .main-nav__service {
    position: absolute;
    top: 90px;
    right: 50px;
    z-index: 3;

    display: block;
  }

  .main-nav__logo {
    flex-basis: 46%;
    padding: 0;
    padding-top: 10px;
    padding-left: 50px;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
  }

  .main-nav__logo {
    flex-basis: 25%;
    padding-right: 90px;
    padding-left: 40px;

    justify-content: center;
    order: 2;
  }

  .main-nav__logo-image {
    width: 150px;
    height: 72px;
  }

  .main-nav__service {
    top: 90px;
    right: 50px;
  }
}
