.modal-popup {
  width: 320px;
  margin: 0 auto;
  padding: 35px 30px;

  border: 1px solid $grey-2;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal-popup__title {
  width: 150px;
  margin: 0 auto;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: $black;
}

.modal-popup__info {
  width: 150px;
  margin: 0 auto;
  padding-top: 13px;

  font-size: 15px;
  line-height: 2;
  text-align: center;

  color: $greyish-brown;
}

.modal-popup__wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-popup__sign {
  padding: 17px 33px;

  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;

  color: $greyish-brown;
  background-color: $white;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal-popup__sign:hover,
.modal-popup__sign:focus {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.modal-popup__sign:active {
  border: 2px solid $seafoam-blue-2;
}

.modal-popup__button {
  border: none;
  color: $white;
  background-color: $seafoam-blue;
}

@media (min-width: 768px) {
  .modal-popup {
    width: 566px;
    margin: 0 auto;
    padding: 35px 105px;
  }

  .modal-popup__title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.9;
  }

  .modal-popup__info {
    width: 100%;
    font-size: 17px;
    line-height: 1.8;
  }

  .modal-popup__sign {
    padding: 20px 50px;
  }
}
