.modal-popup {
  width: 100%;
  padding: 35px 30px;

  border: 1px solid $grey-2;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal-popup__title {
  width: 150px;
  margin: 0 auto;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;

  color: $black;
}

.modal-popup__info {
  width: 150px;
  margin: 0 auto;
  padding-top: 13px;

  font-size: 15px;
  line-height: 2;

  color: $greyish-brown;
}

.modal-popup__wrapper {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.modal-popup__sign {
  padding: 20px 50px;

  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;

  color: $greyish-brown;
  background-color: $white;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal-popup__button {
  border: none;
  color: $white;
  background-color: $seafoam-blue;
}
