.order__description {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: normal;

  line-height: 1.8;

  color: #444444;
}

.order__name {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: bold;

  line-height: 1;
  text-transform: uppercase;

  color: #63d1bb;
}
