.page-inner__title-wrap {
  padding: 75px 20px;

  background-color: $white-1;
}

.page-inner__title {
  margin: 0 auto;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 27px;
  font-weight: bold;

  line-height: 1.1;
  text-align: center;

  color: $black-1;
}

@media (min-width: 768px) {
  .page-inner__title-wrap {
    margin-bottom: 85px;
  }

  .page-inner__title {
    padding-top: 25px;
    font-size: 43px;
  }
}

@media (min-width: 1150px) {
  .page-inner__title {
    font-size: 53px;
  }
}
