.page-main {
  width: 100%;
  margin: 0 auto;
}

.page-main__title {
  width: 250px;
  margin: 0 auto;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 27px;
  font-weight: bold;

  line-height: 1.1;
  text-align: center;

  color: $black-1;
}

.page-main__title-wrap {
  padding: 93px 35px 193px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__title-inner {
  padding: 75px 20px;

  background-color: $white-1;
}

.button {
  width: 260px;
  padding: 15px 85px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2;

  text-transform: uppercase;
  border: 2px solid $greyish-brown;
  cursor: pointer;

  background-color: transparent;
  color: $greyish-brown;
}

.button:hover,
.button:focus {
  color: $white;
  background-color: $greyish-brown;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
