.process {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.process__wrap-title {
  padding: 20px 43px 25px 90px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 15%;

  border: 1px solid $white-2;
}

.process__title {
  margin: 0;
}

.process__video {
  position: relative;
  font-size: 0;
}

.process__button {
  position: absolute;
  top: 35px;
  left: 80px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.process__button:hover,
.process__button:focus {
  transform: scale(1.2);
}

.process__button:active {
  transform: scale(0.8);

  opacity: 0.3;
}

.process__wrap {
  padding: 25px 35px 30px;

  border: 1px solid $white-2;
}

.process__description {
  margin: 0;
  padding-bottom: 25px;

  line-height: 1.8;
}

.process:hover .process__wrap,
.process:focus .process__wrap {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.process:active .process__wrap {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.process__link {
  display: block;

  width: 190px;
  padding: 15px 0;

  text-align: center;
}
/*
@media (min-width: 768px) {
  .process {
    width: 768px;
  }

  .process__video {
    height: 455px;
  }

  .process__wrap {
    padding: 40px;
  }

  .process__link {
    width: 100%;
  }
}*/
