.promo {
  margin-top: 155px;
  padding-bottom: 40px;
}

.promo__title-wrap {
  position: relative;
}

.promo__title::after {
  position: absolute;
  top: 35px;
  left: 0;
  content: "товар недели";

  font-size: 17px;
  line-height: 1.2;
  text-transform: uppercase;

  color: $seafoam-blue;
}

.promo__description {
  padding-top: 30px;
  padding-bottom: 20px;
}

.promo__image {
  margin-top: 30px;
}

.promo__price-wrap {
  width: 260px;
}

.promo__price {
  padding-bottom: 25px;

  text-align: center;
  color: $greyish-brown;
}

@media (min-width: 768px) {
  .promo {
    margin-top: 0;
  }

  .promo__title-wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  .promo__title::after {
    width: 70px;
    left: 570px;
    text-align: center;
    line-height: 1;
  }

  .promo__wrapper {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo__description-wrap {
    flex-basis: 50%;
    padding-top: 0;
  }

  .promo__description {
    padding-top: 0;
    font-size: 17px;
    line-height: 1.8;
  }

  .promo__image {
    width: 330px;
    height: 404px;
    margin-top: 0;
  }

  .promo__price-wrap {
    width: 292px;
    margin-top: -130px;
  }

  .promo__price {
    font-size: 20px;
    line-height: 1.2;
  }

  .promo__button {
    margin-top: 7px;
  }
}

@media (min-width: 1150px) {
  .promo__wrapper {
    padding-top: 40px;
    padding-bottom: 90px;
    padding-left: 170px;
  }

  .promo__description-wrap {
    flex-basis: 40%;
    margin-top: 35px;
    margin-right: 30px;
    padding-left: 50px;
  }

  .promo__image {
    width: 520px;
    height: 636px;
    margin-top: -100px;
  }

  .promo__title-wrap {
    position: relative;
    top: 60px;
    left: 50px;
    z-index: 3;
  }

  .promo__title::after {
    top: 45px;
    left: -120px;
  }

  .promo__price-wrap {
    margin-top: -130px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
