.promo {
  padding-bottom: 36px;
}

.promo__week {
  line-height: 1.2;
  text-transform: uppercase;

  color: $seafoam-blue;
}

.promo__description {
  padding-top: 5px;
  padding-bottom: 20px;
}

.promo__image {
  margin-top: 30px;
}

.promo__price {
  padding-bottom: 25px;

  text-align: center;

  color: $greyish-brown;
}

@media (min-width: 768px) {
  .promo__title-wrap {
    width: 100%;
    margin-bottom: 25px;
    padding-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promo__week {
    width: 70px;
    margin-right: 25px;
    padding-top: 20px;
    text-align: center;
  }

  .promo__wrapper {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .promo__description-wrap {
    width: 292px;
    margin-right: 50px;
  }

  .promo__description {
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 1.8;
  }

  .promo__price-wrap {
    margin-top: -40px;
  }

  .promo__price {
    font-size: 20px;
    line-height: 1.2;
  }

  .promo__button {
    width: 292px;
    margin-top: 7px;
  }
}

@media (min-width: 1150px) {
  .promo__wrapper {
    padding-top: 70px;
    padding-left: 170px;
  }

  .promo__price-wrap {
    margin-top: 25px;
  }
}
