.reviews {
  padding-bottom: 40px;
}

.reviews__block {
  margin: 0;
}

.reviews__description {
  padding-top: 10px;
  padding-bottom: 25px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;

  line-height: 2;

  color: $greyish-brown;
}

.reviews__author-name {
  padding-bottom: 5px;
  font-style: normal;
}

.reviews__author-nickname {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;

  line-height: 1.8;

  color: $greyish-brown;
}

.reviews__nav {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 36px;

  border: 1px solid $white-2;
}

.reviews__btn {
  width: 130px;
  padding-top: 15px;
  padding-bottom: 10px;

  border: none;
  cursor: pointer;
  background: transparent;
}

.reviews__btn:hover,
.reviews__btn:focus {
  opacity: 0.6;
}

.reviews__btn:active {
  opacity: 0.3;
}

.reviews__btn--prev {
  border-right: 1px solid $white-2;
}

.reviews__btn--prev::before {
  content: url("../img/icon-left-arrow.svg");
}

.reviews__btn--next::before {
  content: url("../img/icon-right-arrow.svg");
}

.reviews__link {
  display: block;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    height: 530px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}
