.site-list__item:hover .site-list__link,
.site-list__item:focus .site-list__link {
  opacity: 0.6;
}

.site-list__item:active .site-list__link {
  opacity: 0.3;
}

.site-list__item {
  padding: 30px 9px 30px 70px;
  box-shadow: 0 1px 0 0 $white-2;
}

@media (min-width: 768px) {
  .site-list {
    position: absolute;
    top: 105px;
    left: -20px;
    z-index: 1;

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    order: 1;
  }

  .site-list__item {
    padding: 0;
    padding-left: 35px;

    box-shadow: none;
  }

  .site-list__link {
    font-size: 15px;
    line-height: 1.6;
  }
}

@media (min-width: 1150px) {
  .site-list {
    position: static;
    flex-basis: 40%;
  }

  .site-list__link {
    font-size: 17px;
    line-height: 1.4;
  }
}
