.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  .wrapper {
    max-width: 100%;
  }
}
