body {
  max-width: 320px;
  margin: 0 auto;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: #444444;
}

@import "source/sass/fonts.scss";
@import "source/sass/global.scss";
@import "source/sass/variables.scss";
@import "source/sass/blocks/site-list.scss";
@import "source/sass/blocks/user-list.scss";
